<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sergio.implicitintentsreceiver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                //la accion que queremos que haga esa accion es que esa activity es mi avtividad principal
                //asi sabe cual es la accion principal que lanza 1º, si ponemos 2 .MAIN habra 2 iconos de la app

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                //laaccion que haremos es view porque queremos ver esos datos
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                //browsable de tipo busquedo como url
                <category android:name="android.intent.category.BROWSABLE" />//browsable te obliga a poner data
                //solo sparece para seleccionar si lo que queremos compartir empieza developer.android.com
                <data android:scheme="tame"/>//ya sabe que detras iran 2 puntos :
            </intent-filter>

        </activity>
    </application>

</manifest>